@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local(Roboto);
  src: url('assets/fonts/roboto-regular-webfont.woff2');
  src: url('assets/fonts/roboto-regular-webfont.woff');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: local(Roboto);
  src: url('assets/fonts/roboto-medium-webfont.woff2');
  src: url('assets/fonts/roboto-medium-webfont.woff');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: local(Roboto);
  src: url('assets/fonts/roboto-bold-webfont.woff2');
  src: url('assets/fonts/roboto-bold-webfont.woff');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat Subrayada';
  font-weight: 400;
  src: local('Montserrat Subrayada');
  src: url('assets/fonts/montserratsubrayada-regular-webfont.woff2');
  src: url('assets/fonts/montserratsubrayada-regular-webfont.woff');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat Subrayada';
  font-weight: 700;
  src: local('Montserrat Subrayada');
  src: url('assets/fonts/montserratsubrayada-bold-webfont.woff2');
  src: url('assets/fonts/montserratsubrayada-bold-webfont.woff');
  font-display: swap;
}

/* TAG SELECTORS */
html {
  font-size: 18px;
  color: #222831;
}
body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
}
header {
  background-color: #393e46;
}
nav {
  position: relative;
}
nav ul li {
  list-style: none;
}
header a {
  color: #eeeeee;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat Subrayada', sans-serif;
}
header a:hover {
  color: #32e0c4;
}

/* CLASS SELECTORS */
.navbar-brand {
  color: #393e46;
  font-weight: 400;
  font-size: 2rem;
  padding: 24px;
  position: absolute;
  z-index: 99;
}
.navbar-brand.light {
  color: #32e0c4;
}
@media (min-width: 850px) {
  .navbar-brand {
    color: #32e0c4;
  }
}

/* MENU ITEMS STYLING*/
.menu-items {
  background-color: #393e46;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
}
.menu-items ul {
  text-align: center;
}
.menu-items ul li a {
  display: block;
  font-size: 2rem;
  padding: 24px;
}

/* ID SELECTORS */
/* HAMBURGER MENU */
#toggler {
  display: none;
}
#toggle-label {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  padding: 24px;
  cursor: pointer;
}
#toggle-label span {
  display: block;
  width: 40px;
  height: 4px;
  background-color: #32e0c4;
  border-radius: 2px;
  margin: 5px 0;
}

/* MEDIA QUERIES NAVIGATION MENU*/
/* for smartphone */
@media (max-width: 850px) {
  .menu-items {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    transform: translateX (-100);
    bottom: 0;
    display: none;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }
}
/* for desktop */
@media (min-width: 850px) {
  #toggle-label {
    display: none;
  }
  .navbar-brand {
    margin-top: 12px;
    margin-left: 144px;
  }
  nav .menu-items {
    left: 0;
    height: 120px;
  }
  .menu-items ul {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-right: 144px;
    margin-top: 12px;
  }
  nav .menu-items ul li a {
    font-size: 1rem;
  }
}

/* MENU TOGGLER CHECKBOX */
nav input[type='checkbox']:checked ~ .menu-items {
  display: flex;
  left: 0;
}
#toggler:checked ~ #toggle-label span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
#toggler:checked ~ #toggle-label span:nth-child(2) {
  visibility: hidden;
}
#toggler:checked ~ #toggle-label span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* HERO SECTION */
.bg-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222831;
  background-image: url('content/hero-img_dj-e_lane-at-gängeviertel_hamburg.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 95vh;
}
.blur {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1.5px);
  height: 95vh;
  width: 100vw;
}
.hero-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto 0;
}
.hero-text {
  color: #eeeeee;
  text-shadow: 1px 1px 2px #222831;
  margin-bottom: 1.5rem;
}
.hero-headline {
  line-height: 1.5em;
}

/* Media Queries for mobil size */
@media (max-width: 376px) {
  .hero-headline {
    font-size: 1.5rem;
  }
}
/* Media Queries for tablet size */
@media (min-width: 480px) {
  .hero-headline {
    font-size: 2.1rem;
  }
  .sub-headline {
    font-size: 1.3rem;
  }
}
@media (min-width: 765px) {
  .hero-headline {
    font-size: 2.3rem;
  }
  .sub-headline {
    font-size: 1.4rem;
  }
}
@media (min-width: 850px) {
  .hero-headline {
    font-size: 2.5rem;
  }
  .sub-headline {
    font-size: 1.5rem;
  }
}
/* Media Queries for desktop size */
@media (min-width: 1280px) {
  .hero-headline {
    font-size: 3rem;
  }
  .sub-headline {
    font-size: 1.7rem;
  }
}

/* BUTTONS */
.button {
  display: inline-block;
  margin: 2% 0;
}
.button a {
  display: inline-block;
  padding: 15px 30px;
  background-color: #eeeeee;
  color: #222831;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 40px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.button.outline a {
  border: 3px solid #32e0c4;
}
.button.outline a:hover {
  background-color: #32e0c4;
}
.button.cta a {
  background-color: #32e0c4;
}
.button a:hover {
  background-color: #dd32e0;
  color: #eeeeee;
}
.hero-buttons .button {
  margin: 3.5%;
}
@media (max-width: 300px) {
  .hero-buttons .button a {
    padding: 12px 25px;
  }
  .hero-content h1 {
    line-height: 1.3em;
  }
}
/* AUDIO PLAYER */
.audio-player {
  box-sizing: border-box;
  border: 5px solid #393e46;
}
.player-text {
  visibility: hidden;
}

/* FOOTER */
.footer {
  background-color: #363940;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 120px;
}
.footer a {
  color: #eeeeee;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
}
.footer a:hover {
  color: #32e0c4;
}
.fa-brands {
  margin-left: 10px;
}

/* MEDIA QUERIES  */
/* for smartphone size */
@media (max-width: 650px) {
  .footer {
    flex-direction: column;
  }
  .social-icons {
    display: flex;
    order: 0;
  }
  .impressum {
    display: flex;
    order: 1;
  }
  .datenschutz {
    display: flex;
    order: 2;
  }
}

/* ABOUT */
.container {
  display: flex;
  box-sizing: border-box;
  padding: 50px 32px;
  width: 100vw;
}
.center {
  display: flex;
  justify-content: center;
}
.linebreak {
  border-top: 2px dashed #393e46;
  width: 75%;
}

/* MEDIA QUERIES - ABOUT - GENERAL */
/* for desktop */
@media (min-width: 1280px) {
  .container {
    box-sizing: border-box;
    padding: 50px 167px;
  }
  .video-text {
    font-size: 1.25rem;
  }
}
/* for tablet */
@media (max-width: 850px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .item {
    margin-top: 2rem;
    text-align: center;
  }
}
/* for smartphone */
@media (max-width: 500px) {
  .container {
    box-sizing: border-box;
    padding: 70px 24px;
  }
}

/* INSTAGRAM POST SECTION */
/* for smartphone */
@media (max-width: 850px) {
  .video-text {
    text-align: center;
  }
}
/* for tablet */
@media (min-width: 850px) {
  .thumbnail {
    padding-right: 50px;
  }
}
/* for desktop */
@media (min-width: 1280px) {
  .item .thumbnail {
    width: 30%;
  }
}

/* AUDIO PLAYER SECTION */
.item-cta-player {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100vw;
}

/* CTA SECTION - ABOUT */
.cta-about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
}
@media (max-width: 850px) {
  .cta-about {
    flex-direction: column;
    justify-content: center;
  }
}

/* CONTACT */
.disco {
  background-color: #ffffff;
  background-image: url('content/dico-glitter_pexels-harry-cooke-6194937_psd-edit.webp');
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.disco h1 {
  text-align: center;
  text-shadow: 1px 1px 2px #eeeeee;
}
.form-picture {
  width: 15rem;
  min-width: 200px;
  border-radius: 100%;
  padding: 1rem;
}
.form-position {
  background-color: rgb(255 255 255 / 35%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  border-radius: 100px;
}
.form-bg {
  min-width: 250px;
  width: 80vw;
  height: auto;
}
.form-subheadline {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  padding: 0 1rem;
}
.form-text {
  color: #222831;
  text-shadow: 1px 1px 2px #eeeeee;
  font-size: 1.2rem;
  line-height: 2.7rem;
}
.request-button {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
  text-align: center;
}
@media (min-width: 1350px) {
  .form-headline {
    font-size: 2.3rem;
  }
  .form-position {
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem;
  }
  .form-text {
    line-height: 3.2rem;
  }
}
@media (max-width: 1350px) {
  .form {
    text-align: center;
  }
}
@media (max-width: 450px) {
  .request-button {
    font-size: 0.8rem;
  }
}
@media (max-width: 300px) {
  .form-picture {
    max-width: 200px;
  }
  .form-text {
    font-size: 1rem;
    line-height: 2.2;
  }
}

/* IMPRESSUM */
.container-legal {
  padding: 80px 32px 32px;
}

@media (min-width: 850px) {
  .container-legal {
    margin: 0 auto;
    max-width: 1280px;
  }
}
